@page
@model IndexModel
@{
    ViewData["Title"] = "Muebleria Grupo II";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
</head>
<body>
    <center>
        <h1> Universidad Tecnológica Costarricense </h1><br>
        <h1> Proyecto Final </h1><br>
        <h2> Programación VI </h2><br>
        <h3> Profesora: Ana Lucía Matarrita Granados</h3><br>
        <h3> Grupo II </h3><br>
        <h3> Integrantes: </h3><br>
        <h3> William Feliciano Smith </h3><br>
        <h3> Francisco Ortiz </h3><br>
        <h3> Francisco Soza </h3><br>
        <h3> Nohelia del Carmen </h3><br>
        <h3> Verny Mata Brenes </h3><br><br>
        <h4> 2021 </h4>
    </center>
</body>
</html>