<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <title>@ViewData["Title"] - Programacion61</title>
    @await Html.PartialAsync("_HeaderPartial");

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    @*Home*@
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" asp-page="~/Index">Inicio</a>
                    </li>

                    @*Clientes*@
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" asp-page="/Cliente/Grid">Clientes</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Productos
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @*Productos*@
                            <li><a class="dropdown-item" aria-current="page" asp-page="/Producto/Grid">Productos</a></li>
                            @*Categorias*@
                            <li><a class="dropdown-item" aria-current="page" asp-page="/Categoria/Grid">Categorías</a></li>
                        </ul>
                    </li>

                    @*Pedidos*@
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" asp-page="/Pedido/Grid">Pedidos</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Seguridad
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" aria-current="page" asp-page="/Usuario/Grid">Usuarios</a></li>
                            <li><a class="dropdown-item" href="#">Contraseña</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Salir</a></li>
                        </ul>
                    </li>
                </ul>
                <span class="navbar-text">
                    Usuario Administrador
                </span>
            </div>
        </div>
    </nav>

    @RenderBody()


    @await Html.PartialAsync("_ScriptsPartial");
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
